@use"../../styles/colors";
@use"../../styles/abstracts/mixins";



.container {
    position: fixed;
    right: 2rem;
    bottom: 1.5rem;
    z-index: 5;
    display: flex;
flex-direction: column;
    gap: 1rem;
}

.fab {
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    padding: 1rem;
    
    cursor: pointer;
    transition: box-shadow .3s ease-in-out,
    transform .3s ease-in-out;
    @include mixins.boxShadowDark;
    
    svg {
        max-width: 100%;
        max-width: 100%;
        fill: white;
    }

    &.wa{
        background-color: colors.$wa;
    }

    &.call{
        background-color: white;

        svg {
            fill: colors.$bc;
        }
    }

    &:hover {
        @include mixins.boxShadow;
        transform: translateY(-.5rem);
    }
}