$transition: 0.3s ease-in-out;

$font: 'Montserrat', sans-serif;
$font-titles: 'Cinzel Decorative', cursive;
$font-logo-sub: 'Poppins', sans-serif;

$font-size-text: 1.8rem;
$font-size-logo: 6rem;
$font-size-logo-sub: calc($font-size-logo * .5);
$font-size-titles: 4.5rem;
$font-size-subtitles: 2.5rem;

$div-border-radius: 1.6rem;

$input-font-size: 1.5rem;

