$bc: #40474f;
$bg: #e5e7eb;
$primary: #b0c774;
$secondary-light: #606060;
$primary-dark: #13342d;

$blur: rgba(0, 0, 0, 0.4);
$disabled-gray: gray;
$light-gray: rgb(202, 202, 202);
$text-dark: #40474f;
$text-light: white;
$light-shadow: rgb(176, 199, 116, 0.25);
$black: #000;
$white: white;

$wa: #25d366;

$red: #c40000;

$type-a: #ead192;
$type-b: #b9c381;
$type-c: #8dbbd0;

$lot-active: rgb(0, 94, 201);
