$bc: #40474F;
$primary: #B0C774;
$primary-dark: #13342D;

$blur: rgba(0, 0, 0, 0.4);
$disabled-gray: gray;
$light-gray: rgb(202, 202, 202);
$text-dark: #40474F;
$text-light: white;
$light-shadow: rgb(176, 199, 116, 0.25);
$black: #000;

$wa: #25D366;

$red: rgb(221, 0, 0);