// @font-face {
//     font-family: 'mick_casterregular';
//     src: url('/fonts/mick_caster-webfont.woff2') format('woff2'),
//         url('/fonts/mick_caster-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }

@font-face {
    font-family: 'gotham_blackregular';
    src: url('/fonts/gotham-black-webfont.woff2') format('woff2'),
        url('/fonts/gotham-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'badhair_italicitalic';
    src: url('/fonts/badhair-webfont.woff2') format('woff2'),
        url('/fonts/badhair-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


// @font-face {
//     font-family: 'axiformablack';
//     src: url('/fonts/kastelov-webfont.woff2') format('woff2'),
//         url('/fonts/kastelov-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }