@import "./abstracts/mixins";
@import "./abstracts/variables";
@import "./animations";
@import "./base";
@import "./colors";
@import "./toaster";
@import "./fonts";
@import "./plan";

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.swiper-pagination-bullet {
  &.swiper-pagination-bullet-active {
    color: white;
  }
}

.container {
  display: flex;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  position: relative;
  background-color: $bg;
}

.children {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;

  margin-left: 4rem;
  width: calc(100% - 4rem);

  padding: 2rem;

  h1 {
    font-family: $font;
  }

  @include respond(from-tab-port) {
    margin-left: 0;
    width: 100%;
    padding: 3rem;
  }
}
