@use "../../../../styles/abstracts/variables";
@use "../../../../styles/abstracts/mixins";
@use "../../../../styles/colors";

.plan {
  display: flex;
  flex-wrap: wrap;
  padding: 4rem 2rem;
  justify-content: space-around;
  align-items: flex-end;
  gap: 3rem 0;

  @include mixins.respond(phone) {
    padding: 4rem 0.5rem;
  }

  .graphic {
    @include mixins.card;
    // width: 100rem;
    width: 90rem;
    padding: 2.5rem;
    position: relative;
    background-color: colors.$bc;
    background-image: url("/assets/corcho1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 2;
    }
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 3;
      // background-color: red;
      border: 2rem solid white;
      border-radius: variables.$div-border-radius;
      @include mixins.insetBoxShadowDark;
    }

    svg,
    .types {
      z-index: 5;
    }

    .types {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 15rem;
      max-height: 40%;
      list-style: none;
      display: block;
      background-color: white;
      @include mixins.boxShadowDark;
      padding: 2rem 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;

      @include mixins.respond(phone) {
        padding: 2rem;
        gap: 0.5rem;
      }

      li {
        color: colors.$bc;
        font-size: clamp(1vw, 2vw, 1.8rem);
        display: flex;
        align-items: center;
        text-transform: uppercase;
        gap: 0.5rem;

        span {
          height: 2rem;
          width: 2rem;
          border-radius: 50%;
        }
        &.a span {
          background-color: colors.$type-a;
        }
        &.b span {
          background-color: colors.$type-b;
        }
        &.c span {
          background-color: colors.$type-c;
        }
        &.sold span {
          border: 2px solid colors.$primary-dark;
          background-color: white;
        }
      }
    }

    svg {
      position: relative;
      max-height: 80vh;
      max-width: 100%;
      stroke-width: 1rem;
    }
  }

  .card {
    @include mixins.card;
    width: 40rem;
    max-width: 100%;
    height: 50rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;

    .contact {
      @include mixins.button(colors.$primary, colors.$primary-dark, white);
      color: white;
      align-self: flex-start;
      margin-top: auto;
    }

    h4 {
      font-size: 2.5rem;
      font-family: variables.$font;
      font-weight: normal;
      color: colors.$bc;
      margin-bottom: 2rem;

      &.sold,
      &.infoTitle {
        font-weight: 700;
      }
      &.sold {
        color: colors.$red;
      }
      &.infoTitle {
        color: colors.$primary;
      }
    }

    p {
      strong {
        text-transform: capitalize;
        margin-left: 0.5rem;
        border-bottom: 1px solid colors.$primary;
      }
      &.a strong {
        color: colors.$type-a;
        border-color: colors.$type-a;
      }
      &.b strong {
        color: colors.$type-b;
        border-color: colors.$type-b;
      }
      &.c strong {
        color: colors.$type-c;
        border-color: colors.$type-c;
      }
    }
  }
}

.circle {
  pointer-events: none;
  stroke: white;
  stroke-width: 1px;
  &.red {
    fill: colors.$red;
  }
  &.black {
    fill: black;
  }
}
