@use "styles/abstracts/mixins.scss";
@use "styles/colors.scss";
@use "styles/abstracts/variables.scss";
@import "styles/animations.scss";

.container {
  background-color: colors.$white;
  height: 100%;
  padding: 1rem 0;
  transition: width 0.3s ease-in-out;
  width: 4rem;

  position: fixed;
  z-index: 100;
  &.showSidebarMobile {
    width: 80%;
  }

  @include mixins.respond(from-tab-port) {
    // min-width: 20vw;
    width: auto;
    position: relative;
    padding: 2rem;
  }
}

.title {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 1.5rem;

  p {
    margin-left: 3rem;
    position: absolute;
    width: 11rem;
    font-size: variables.$font-size-text;
    font-weight: 700;
    opacity: 0;
    transform: translateX(-10%);
    transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
  }

  .showSidebarMobile & {
    p {
      transform: translateX(15%);
      opacity: 1;
    }
  }

  @include mixins.respond(from-tab-port) {
    min-width: 15vw;
    gap: 2rem;
    margin-bottom: 4rem;

    svg {
      max-width: 30%;
    }

    p {
      position: initial;
      width: auto;
      transform: none;
      opacity: 1;
      margin-left: 0;
      margin: 0;
    }
  }
}

.sidebarItems {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 1rem;
  padding: 0 0.5rem;

  @include mixins.respond(from-tab-port) {
    margin-bottom: 0;
    margin-bottom: 2rem;
  }
}

.sidebarItem {
  display: flex;
  align-items: center;
  padding: 0.75rem 0;

  transition: all 0.3s ease-in-out;
  p {
    font-size: variables.$font-size-text;
    position: absolute;
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
  }

  svg {
    transition: all 0.3s ease-in-out;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.75rem;
    stroke: colors.$black;
  }

  @include mixins.respond(from-tab-port) {
    gap: 1rem;
    padding: 0.5rem 0;
    padding: 1rem 2rem;
    cursor: pointer;
    p {
      position: initial;
      opacity: 1;
      transform: none;
      cursor: inherit;
    }
    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  .showSidebarMobile & {
    p {
      transform: translateX(4rem);
      opacity: 1;
    }
  }

  &:hover {
    background-color: colors.$secondary-light;
    border-radius: 1rem;
    color: colors.$primary;
    svg {
      stroke: colors.$primary;
    }
  }
}

.sidebarItemActive {
  background-color: colors.$secondary-light;
  border-radius: 1rem;
  color: colors.$primary;
  svg {
    fill: colors.$primary;
    stroke: colors.$primary;
    color: colors.$primary;
  }
}

.rightArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  position: absolute;
  bottom: 4rem;
  right: -1.2rem;
  border-radius: 50%;
  background-color: colors.$secondary-light;
  svg {
    width: 1rem;
    height: 1rem;
    stroke: colors.$black;
    transition: all 0.3s ease-in-out;
    .showSidebarMobile & {
      transform: rotate(180deg);
    }
  }
  @include mixins.respond(from-tab-port) {
    display: none;
  }
}
