@use "../../styles/colors" as c;
@use "../../styles/abstracts/variables" as v;
@use "../../styles/abstracts/mixins";

.footer {
  background-color: c.$bc;
  margin-top: 8rem;
  padding: 4rem 3rem 2rem 3rem;
  position: relative;
  min-height: 60vh;
  z-index: 5;

  @include mixins.respond(from-tab-port) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.triangle {
  width: fit-content;
  position: relative;
  margin: -12rem 0 0 -3rem;

  .content {
    position: absolute;
    top: 50%;
    left: 2rem;
    width: 100%;

    p {
      color: white;
      font-weight: 600;
      margin-bottom: 2rem;
    }

    .alfa {
      @include mixins.nextImage;
      width: 50%;
      aspect-ratio: 292/168;
    }
  }

  svg {
    max-width: 95%;
    width: 40rem;
    height: 40rem;
  }

  @include mixins.respond(from-tab-port) {
    margin: 0;
    position: absolute;
    top: -10rem;
    left: 0;

    svg {
      width: 60rem;
      height: 60rem;
    }
  }
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 {
    margin-top: 2rem;
    font-family: v.$font-titles;
    color: white;
    font-weight: 400;
    font-size: clamp(4rem, 5vw, 4rem);
    line-height: 1.3;
    span {
      display: block;
      font-family: v.$font-logo-sub;
      font-size: 40%;
      color: c.$primary;
      text-transform: uppercase;
      letter-spacing: 1.8rem;
      font-weight: 200;
      max-width: 100%;
    }
  }
  svg {
    width: 12rem;
    height: 12rem;
    aspect-ratio: 1/1;
    max-width: 50%;
  }
}

.contact {
  margin-top: 5rem;
  align-self: flex-start;
  text-align: left;

  h3 {
    color: c.$primary;
    font-family: v.$font;
    font-weight: normal;
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  a {
    margin-bottom: 1rem;
    display: block;
  }

  @include mixins.respond(from-tab-port) {
    margin-top: 2rem;
    align-self: flex-end;
    text-align: right;
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 8rem;

  p {
    font-size: 1.3rem;
    color: white;
  }
  svg {
    height: 5rem;
    max-width: 90%;
  }
}

.home {
  position: sticky;
  right: 2rem;
  top: 2rem;
  height: 5rem;
  width: 5rem;
  background-color: c.$primary;
  display: grid;
  place-content: center;
  align-self: flex-end;
  transform: rotate(180deg);
  transition: 0.3s all ease-in-out;
  &:hover {
    background-color: white;
    & svg path {
      stroke: c.$primary;
    }
  }
}
