@use"../../../../styles/abstracts/mixins";
.reviews {
    &-box {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow-x: scroll;
        @include mixins.scrollBar(4px);
        padding: 4rem 5vw;
        padding-bottom: 6rem;

        &::-webkit-scrollbar-track {
            margin: 0 calc(5vw - 1rem);
        }

        @include mixins.respond(phone) {
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    &-slider {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin: 0 auto;
        height: 25rem;
        padding: 0 1rem;
        // padding: 4rem 10vw;

        &__review {
            @include mixins.card;
            padding: 3rem;
            background-color: white;
            height: 100%;
            width: 40rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            // box-shadow: 5px 5px 15px rgba($color-primary-dark, .15), -5px -5px 15px rgba($color-primary-dark, .15);
            @include mixins.boxShadow;
            @include mixins.transition;
            cursor: pointer;

            &:hover {
                transform: scale(1.02);
                // box-shadow: 5px 5px 15px rgba($color-primary-dark, .25), -5px -5px 15px rgba($color-primary-dark, .25);
            }

            &__header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;

                & .profile {
                    &-pic {
                        height: 5rem;
                        width: 5rem;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        & img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                    &-info {
                        display: flex;
                        flex-direction: column;
                        gap: .2rem;

                        &__name {
                            line-height: 1;
                            font-weight: 700;
                            text-transform: capitalize;
                        }

                        &__date {
                            font-size: 1.1rem;
                        }
                    }
                }

                & .google-pic {
                    height: 2rem;
                    width: 2rem;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: auto;

                    & img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }

            }

            &__rating {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                margin: 0 0 1rem -.5rem;

                & .star {
                    height: 1.5rem;
                    width: 1.5rem;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    & img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }

            &__text {
                max-height: 20rem;
                overflow-y: scroll;
                @include mixins.scrollBar(3px);
                padding-right: 2rem;

                & p {
                    font-size: 1.4rem;
                    line-height: 1.4 !important;
                }
            }
        }
    }

    &-bottom {
        width: 100%;
        padding: 0 10vh;
        display: grid;
        place-items: center;
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);

        & span {
            font-size: 1.3rem;
            text-align: center;
        }

        a {
            color: inherit;
        }
    }
}